@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #072635;
  font-size: 16px;
  --unnamed-color-705aaa: #705AAA;
  --unnamed-color-cbc8d4: #CBC8D4;
  --activestate_bg_2: #D8FCF7;
  --activestate_bg_1: #01F0D0;
  --unnamed-color-0bd984: #0BD984;
  --unnamed-color-072635: #072635;
  --unnamed-color-0c3d5d: #0C3D5D;
  --unnamed-color-084c77: #084C77;
  --unnamed-color-055a92: #055A92;
  --unnamed-color-006aac: #006AAC;
  --unnamed-color-007bc7: #007BC7;
  --unnamed-color-707070: #707070;
  --unnamed-color-f6f6f6: #F6F6F6;
  --unnamed-color-ededed: #EDEDED;
  --unnamed-color-000000: #000000;
  --unnamed-color-878787: #878787;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-ff6200: #FF6200;

  /* Font/text values */
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-800: 800;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-33: 33px;
  --unnamed-text-transform-titlecase: titlecase;

  
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-Regular.woff2");
}


.manrope{
  font-family: var(--font-manrope);
}

.handjet{
  font-family: 'Handjet';
}


body {
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  background-color: #F6F7F8;
}

h2 {
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--foreground);  
}

h3 {
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--foreground);
  text-transform: var(--unnamed-text-transform-titlecase);
}

.emphasized {
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--foreground);
}

.secondary {
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}

.right_card_title {
  font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font-weight: normal;
  font-style: normal;
  /* font: normal normal medium 14px/19px manrope; */
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.right_card_info {
  color: var(--unnamed-color-072635);
  text-align: left;
  font-weight: bold;
  font-style: normal;
  text-transform: capitalize;
  opacity: 1;
}

.card {
  border-radius: 16px;
  background-color: var(--background);
}

.diagnosis_heading {
  font-style: var(--unnamed-font-style-normal);
  font-variant: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  text-transform: capitalize;
  opacity: 1;
}

.diagnosis_info{
  font-style: var(--unnamed-font-style-normal);
  font-variant: normal;
  font-weight: var(--unnamed-font-weight-800);
  font-size: 30px;
  line-height: 41px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--unnamed-color-072635) #E3E4E6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}